.create-repo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.create-repo-card {
  width: 500px;
  background: #161b22;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #30363d;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.create-repo-card h2 {
  margin-bottom: 10px;
}

.create-repo-card input,
.create-repo-card textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #30363d;
  background: #0d1117;
  color: white;
}

.create-repo-card button {
  background: #238636;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
}
